absl-py==2.3.1
attrs==25.3.0
cffi==1.17.1
contourpy==1.3.2
cycler==0.12.1
flatbuffers==25.2.10
fonttools==4.59.0
jax==0.4.38
jaxlib==0.4.38
kiwisolver==1.4.8
matplotlib==3.10.5
mediapipe==0.10.21
ml_dtypes==0.5.3
numpy @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_b7iptlxgej/croot/numpy_and_numpy_base_1708638622773/work/dist/numpy-1.26.4-cp310-cp310-macosx_10_9_x86_64.whl#sha256=9699ffbfee60303323e1bd3d1e591a5fd3b8960e72a61fc675d2c4bc1cb76148
opencv-contrib-python==4.11.0.86
opt_einsum==3.4.0
packaging==25.0
pillow==11.3.0
protobuf==4.25.8
pybullet @ file:///Users/runner/miniforge3/conda-bld/bullet_1725366751583/work
pycparser==2.22
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.15.3
sentencepiece==0.2.0
six==1.17.0
sounddevice==0.5.2
